@font-face {
    font-family: Norse-Bold;
    src: url('./font/Norse-Bold.otf');
}

:root {
    --logo-font: Norse-Bold;
    --content-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--content-font)
}

.container {
    display: flex;
}

.brand-side {
    background-image: url('./img/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 40vw;
    height: 100vh;
    flex-shrink: 0;
}

.dark-bg {
    background-color: #00000063;
    height: 180px;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brand-name {
    font-family: var(--logo-font);
    font-size: 64px;
    color: #fff;
}

.text {
    padding: 50px 50px 30px 50px;
    background-color: #f7f7f7;
    font-family: var(--content-font)
}

.form {
    padding: 0 50px 10px 50px;
}

label,
input {
    display: block;
}

label {
    font-size: 12px;
}

input {
    padding: 15px 20px;
    width: 200px;
    font-size: 16px;
    border: 1px solid #E5E7EB;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: 3px 3px 3px #c2c1c1;
}

input::placeholder{
    color: #fff;
}

input:focus {
    outline: none;
    border-color: #82b457;
    background-color: #596D48;
    color: #fff
}

.aside {
    display: flex;
    gap: 60px;
}

button {
    display: block;
    background-color: #596D48;
    color: #ffffff;
    padding: 15px 45px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 30px 0 20px 0;
    box-shadow: 3px 3px 3px #818181;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #4b7229;
}

/* TODO
 Make a logic to not accept different passwords
  */